@use "../config/mixins";
@use "../config/variables";

/******************************************************************************
 * Meta Data
*******************************************************************************/
.meta {
    @include mixins.meta();
    }



/******************************************************************************
 * Emphasis
*******************************************************************************/
.em {
    @include mixins.b();
    }



/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p {
    @include mixins.p();
    }



/******************************************************************************
 * Buttons
*******************************************************************************/




/******************************************************************************
 * Links
*******************************************************************************/
.a {
    @include mixins.a();
    }



/******************************************************************************
 * Headlines
*******************************************************************************/
.h1 {
    @include mixins.h1();
    }
.h2 {
    @include mixins.h2();

    a {
        border-bottom: 5px solid variables.$black;
        }

    p + p {
        margin-top: 50px;
        }
}
.h3 {
    @include mixins.h3();

    strong {
        font-weight: 600;
        }
    }