@use "../config/variables";

.animate {
    opacity: 0;
    transform: translate3d( 0, variables.$bump-size, 0 );
    transition: opacity variables.$long-duration variables.$ease-out,
                transform variables.$base-duration variables.$ease-out;

    &.is-active {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
    &.is-static {
        transition-duration: 0ms;
        }
}


.animate--delayed {
    transition-delay: variables.$base-duration;
    }


.animate--fade {
    transform: translate3d( 0, 0, 0 );
    }


.animate--horz {
    transform: translate3d( variables.$bump-size, 0, 0 );
    }